@charset "utf-8";
/* CSS Document */

body
{
	margin:0px;
	background-image:url(webbk.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	background-color:#000000;
	color:#999999;
	height: 768px;
	min-height: 768px;
	max-height: 768px;
	width: 1024px;
	min-width: 1024px;
	max-width: 1024px;
	
}


#flashobj
{
	position:absolute;
	left: 192px;
	top: 144px;
}

#sklogo
{
	position:absolute;
	left: 12px;
	top: 11px;
	min-width:124px;
	width:124px;
	max-width: 124px;
	
	min-height:123px;
	height:123px;
	max-height: 123px;
	
}

#sklogo a
{
	background-image:url(sklogohighlight.png);
	background-repeat:no-repeat;
	
	min-width:124px;
	width:124px;
	max-width: 124px;
	
	min-height:123px;
	height:123px;
	max-height: 123px;
	
	display:block;

}

#sklogo a:hover
{
	background-position: -124px 0px;
}
